{% extends base_template %}

{% block title %}{{ 'exchange_rate.form.title.edit'|trans({}, 'runopencode_exchange_rate') }}{% endblock title %}

{% block body %}

    {% block edit_form %}

        {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit">
                {{ 'exchange_rate.form.actions.save'|trans({}, 'runopencode_exchange_rate') }}
            </button>
        {{ form_end(form) }}

    {% endblock edit_form %}

    {% block edit_actions %}

        {% block edit_actions_goto_list %}

            {% if not secure or is_granted(access_roles.list) %}
                <a href="{{ path('runopencode_exchange_rate_list') }}">
                    {{ 'exchange_rate.form.actions.list'|trans({}, 'runopencode_exchange_rate') }}
                </a>
            {% endif %}

        {% endblock edit_actions_goto_list %}

        {% block edit_actions_add_new %}

            {% if not secure or is_granted(access_roles.create) %}
                <a href="{{ path('runopencode_exchange_rate_new') }}">
                    {{ 'exchange_rate.form.actions.add_new'|trans({}, 'runopencode_exchange_rate') }}
                </a>
            {% endif %}

        {% endblock edit_actions_add_new %}

    {% endblock edit_actions %}

{% endblock body %}

