{% extends base_template %}

{% block body %}

    {% block java_script_delete_action %}

        <script type="text/javascript">
            function runOpenCodeExchangeRateListOnDeleteItemAction (elem) {

                if (confirm('{{ 'exchange_rate.list.actions.delete.question'|trans({}, 'roc_exchange_rate') }}')) {
                    var
                            form = document.createElement('form'),
                            hiddenField = document.createElement('input')
                            ;

                    form.setAttribute('method', 'post');
                    form.setAttribute('action', elem.getAttribute('href'));

                    hiddenField.setAttribute('type', 'hidden');
                    hiddenField.setAttribute('name', '_csrf_token');
                    hiddenField.setAttribute('value', elem.getAttribute('data-csrf-token'));

                    form.appendChild(hiddenField);

                    document.body.appendChild(form);
                    form.submit();
                };

                return false;
            };
        </script>

    {% endblock java_script_delete_action %}

    {% block flash_messages %}

        {% if app.session.flashbag.peekAll|length > 0 %}
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="{{ type ? type : '' }}">
                        {{ message|trans({}, 'roc_exchange_rate') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

    {% endblock flash_messages %}

    {% block exchange_rates_table %}

        <table>

            <thead>
                <tr>

                    {% block table_headings %}

                        <th>
                            {{ 'exchange_rate.list.table.headings.source'|trans({}, 'roc_exchange_rate') }}
                        </th>
                        <th>
                            {{ 'exchange_rate.list.table.headings.rate_type'|trans({}, 'roc_exchange_rate') }}
                        </th>
                        <th>
                            {{ 'exchange_rate.list.table.headings.currency_code'|trans({}, 'roc_exchange_rate') }}
                        </th>
                        <th>
                            {{ 'exchange_rate.list.table.headings.value'|trans({}, 'roc_exchange_rate') }}
                        </th>
                        <th>
                            {{ 'exchange_rate.list.table.headings.date'|trans({}, 'roc_exchange_rate') }}
                        </th>
                        <th>
                            {{ 'exchange_rate.list.table.headings.modified_at'|trans({}, 'roc_exchange_rate') }}
                        </th>

                        {% if not secure or is_granted(access_roles.edit) or is_granted(access_roles.delete) %}

                            <th>
                                {{ 'exchange_rate.list.table.headings.actions'|trans({}, 'roc_exchange_rate') }}
                            </th>

                        {% endif %}

                    {% endblock table_headings %}

                </tr>
            </thead>

            <tbody>
                {% for rate in rates %}

                    {% block table_row %}

                        <tr>
                            <td>
                                {{ ('exchange_rate.source.' ~ rate.sourceName)|trans({}, 'roc_exchange_rate') }}
                            </td>
                            <td>
                                {{ ('exchange_rate.rate_type.' ~ rate.sourceName ~ '.' ~ rate.rateType)|trans({}, 'roc_exchange_rate') }}
                            </td>
                            <td>
                                {{ rate.currencyCode }}
                            </td>
                            <td>
                                {{ rate.value }}
                            </td>
                            <td>
                                {{ rate.date|date(date_format) }}
                            </td>
                            <td>
                                {{ rate.modifiedAt|date(date_format) }} {{ rate.modifiedAt|date(time_format) }}
                            </td>

                            {% if not secure or is_granted(access_roles.edit) or is_granted(access_roles.delete) %}

                                <td>

                                    {% if not secure or is_granted(access_roles.edit) %}

                                        <a href="{{ path('roc_exchange_rate_edit', {
                                            date: rate.date|date('Y-m-d'),
                                            currency_code: rate.currencyCode,
                                            rate_type: rate.rateType,
                                            source: rate.sourceName
                                        }) }}">
                                            {{ 'exchange_rate.list.object_actions.edit'|trans({}, 'roc_exchange_rate') }}
                                        </a>

                                    {% endif %}

                                    {% if not secure or is_granted(access_roles.delete) %}

                                        <a
                                                href="{{ path('roc_exchange_rate_delete', {
                                                    date: rate.date|date('Y-m-d'),
                                                    currency_code: rate.currencyCode,
                                                    rate_type: rate.rateType,
                                                    source: rate.sourceName
                                                }) }}"
                                                data-csrf-token="{{ csrf_token(path('roc_exchange_rate_delete', {
                                                    date: rate.date|date('Y-m-d'),
                                                    currency_code: rate.currencyCode,
                                                    rate_type: rate.rateType,
                                                    source: rate.sourceName
                                                })) }}"
                                                onclick="return runOpenCodeExchangeRateListOnDeleteItemAction(this);"
                                        >
                                            {{ 'exchange_rate.list.object_actions.delete'|trans({}, 'roc_exchange_rate') }}
                                        </a>

                                    {% endif %}

                                </td>

                            {% endif %}
                        </tr>

                    {% endblock table_row %}

                {% else %}

                    {% block no_data_table_row %}

                        <tr>
                            <td colspan="6">
                                {% block no_data_advisory_note %}
                                    {{ 'exchange_rate.advisory.no_data'|trans({}, 'roc_exchange_rate') }}
                                {% endblock no_data_advisory_note %}
                            </td>
                        </tr>

                    {% endblock no_data_table_row %}

                {% endfor %}
            </tbody>
        </table>

    {% endblock exchange_rates_table %}

    {% block exchange_rates_filters %}

        {{ form_start(filter) }}

        {{ form_widget(filter) }}

        <button type="submit">
            {{ 'exchange_rate.filter.submit'|trans({}, 'roc_exchange_rate') }}
        </button>

        {{ form_end(filter) }}



    {% endblock exchange_rates_filters %}

    {% block list_actions %}

        {% block list_actions_add_new %}

            {% if not secure or is_granted(access_roles.create) %}
                <a href="{{ path('roc_exchange_rate_new') }}">
                    {{ 'exchange_rate.list.list_actions.add_new'|trans({}, 'roc_exchange_rate') }}
                </a>
            {% endif %}

        {% endblock list_actions_add_new %}

    {% endblock list_actions %}

{% endblock body %}
