{% extends '@ExchangeRate/layout.html.twig' %}

{% block title %}{{ 'edit.title' | trans({}, 'runopencode_exchange_rate') }}{% endblock title %}

{% block body %}

    {% block form %}

        {{ form(form) }}

    {% endblock form %}

    {% if is_granted('DELETE', rate) %}

        {% block generic_action_delete %}

            <a   href="{{ path('runopencode_exchange_rate_delete', {
                date: rate.date|date('Y-m-d'),
                currency_code: rate.currencyCode,
                rate_type: rate.rateType,
                source: rate.sourceName
            }) }}">
                {{ 'actions.generic.delete' | trans({}, 'runopencode_exchange_rate') }}
            </a>

        {% endblock generic_action_delete %}

    {% endif %}

    {% if is_granted('VIEW', '\\RunOpenCode\\ExchangeRate\\Contract\\RateInterface') %}

        {% block generic_action_list %}

            <a href="{{ path('runopencode_exchange_rate_list') }}">
                {{ 'actions.generic.list' | trans({}, 'runopencode_exchange_rate') }}
            </a>

        {% endblock generic_action_list %}

    {% endif %}

{% endblock body %}

