{% extends base_template %}

{% block body %}

    {% block java_script_delete_action %}

        <script type="text/javascript">
            function runOpenCodeExchangeRateListOnDeleteItemAction (elem) {

                if (confirm('{{ 'exchange_rate.list.actions.delete.question'|trans({}, 'roc_exchange_rate') }}')) {
                    var
                            form = document.createElement('form'),
                            hiddenField = document.createElement('input')
                            ;

                    form.setAttribute('method', 'post');
                    form.setAttribute('action', elem.getAttribute('href'));

                    hiddenField.setAttribute('type', 'hidden');
                    hiddenField.setAttribute('name', '_csrf_token');
                    hiddenField.setAttribute('value', elem.getAttribute('data-csrf-token'));

                    form.appendChild(hiddenField);

                    document.body.appendChild(form);
                    form.submit();
                };

                return false;
            };
        </script>

    {% endblock java_script_delete_action %}

    {% block flash_messages %}

        {% if app.session.flashbag.peekAll|length > 0 %}
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="{{ type ? type : '' }}">
                        {{ message|trans({}, 'roc_exchange_rate') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

    {% endblock flash_messages %}

    {% block exchange_rates_table %}

        <table>

            <thead>
                <tr>

                    {% block table_headings %}

                        <th>
                            Source
                        </th>
                        <th>
                            Rate type
                        </th>
                        <th>
                            Currency code
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Modified at
                        </th>
                        <th>
                            Actions
                        </th>

                    {% endblock table_headings %}

                </tr>
            </thead>

            <tbody>
                {% for rate in rates %}

                    {% block table_row %}

                        <tr>
                            <td>
                                {{ rate.sourceName }}
                            </td>
                            <td>
                                {{ rate.rateType }}
                            </td>
                            <td>
                                {{ rate.currencyCode }}
                            </td>
                            <td>
                                {{ rate.value }}
                            </td>
                            <td>
                                {{ rate.date|date(date_format) }}
                            </td>
                            <td>
                                {{ rate.modifiedAt|date(date_time_format) }}
                            </td>
                            <td>
                                <a href="{{ path('roc_exchange_rate_edit', {
                                    date: rate.date|date('Y-m-d'),
                                    currency_code: rate.currencyCode,
                                    rate_type: rate.rateType
                                }) }}">
                                    Edit
                                </a>
                                <a
                                        href="{{ path('roc_exchange_rate_delete', {
                                            date: rate.date|date('Y-m-d'),
                                            currency_code: rate.currencyCode,
                                            rate_type: rate.rateType
                                        }) }}"
                                        data-csrf-token="{{ csrf_token(path('roc_exchange_rate_delete', {
                                            date: rate.date|date('Y-m-d'),
                                            currency_code: rate.currencyCode,
                                            rate_type: rate.rateType
                                        })) }}"
                                        onclick="return runOpenCodeExchangeRateListOnDeleteItemAction(this);"
                                >
                                    Delete
                                </a>
                            </td>
                        </tr>

                    {% endblock table_row %}

                {% else %}

                    {% block no_data_table_row %}

                        <tr>
                            <td colspan="6">
                                {% block no_data_advisory_note %}
                                    There are no rates at the moment.
                                {% endblock no_data_advisory_note %}
                            </td>
                        </tr>

                    {% endblock no_data_table_row %}

                {% endfor %}
            </tbody>
        </table>

    {% endblock exchange_rates_table %}

    {% block list_actions %}
        <a href="{{ path('roc_exchange_rate_new') }}">Add new</a>
    {% endblock list_actions %}

{% endblock body %}